@page
@model SirooWebAPP.UI.Pages.Clients.ChallengeModel
@{
    Layout = "_LayoutClients";
}

<style>

    .MainDashboard {
        display: none !important;
    }

</style>


@if (Model.IsValidToChallenge)
{
    <div class="SirooRightBlockContainer">
        <div class="mb-5 SirooRightBlock  col-12">
            <div class="d-flex flex-row-reverse SirooRightBlockHeader">
                <a class="profile-media col-2" href="#">
                    <img src="~/uploads/assets/profile.jpg" />
                </a>
                <a href="#" class="col-6 profile-fullname">شرکت در چالش</a>
                <a href="#" class="col-2 profile-date">@*@Model.Amount*@ <span>ریال</span></a>
            </div>
            <div class="d-flex flex-column justify-content-center SirooContainer">
                <div class="SirooItems">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 siroo-header">شرکت در چالش</div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">مبلغ مورد نیاز برای شرکت در چالش</div>
                    </div>
                <form method="post" class="addMoney row justify-content-center" enctype="multipart/form-data">
                    <div class="row col-12 mb-3">
                        <div class="col-12">
                            <input type="text" class="col-12" disabled value="@Model.NeededMoneyToAttendInChallenge ریال">
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 siroo-label">نام کاربری معرف شما به این چالش</div>
                    </div>
                    <div class="row col-12 mb-2">
                        <div class="col-12 Textbox fa fa-user">
                            <input type="text" class="col-12" asp-for="AddChallenge.Parent" />
                        </div>
                    </div>

                    <div class="row col-12 mb-3 justify-content-center">
                        <div class="col-8 SirooBtn">
                            <input id="myInput" type="submit" class="col-12" asp-page-handler="TakeMoney" value="برداشت وجه و شرکت در چالش">
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
}



@if (Model.IsValidToChallenge == false)
{
    <script>

        window.location="/Clients/Main";

    </script>
}