@page
@model SirooWebAPP.UI.Pages.Clients.ChangePasswordModel
@{
    Layout = "_LayoutClients";
}


<form method="post">

    <div class="d-flex flex-column justify-content-center SirooContainer">
        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="row justify-content-center mb-3  direction-rtl">
                <div class="col-12 siroo-header-h3">تغییر کلمه عبور</div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-12 siroo-header">کلمه عبور فعلی</div>
            </div>

            <div class="col-8 Textbox fa fa-lock">  
                <input type="password"  autocomplete="off" class="col-12" asp-for="ChangeThePassword.CurrentConfirmationCode" />
            </div>
            <div class="col-8">
                <span class="text-danger" asp-validation-for="ChangeThePassword.CurrentConfirmationCode"></span>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-12 siroo-header">کلمه عبور جدید</div>
            </div>

            <div class="col-8 Textbox fa fa-lock">  
                <input type="password"  autocomplete="off" class="col-12" asp-for="ChangeThePassword.ConfirmationCode" />
            </div>
            <div class="col-8">
                <span class="text-danger" asp-validation-for="ChangeThePassword.ConfirmationCode"></span>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-12 siroo-header">تکرار کلمه جدید</div>
            </div>

            <div class="col-8 Textbox fa fa-lock">
                <input type="password"  autocomplete="off" class="col-12" asp-for="ChangeThePassword.reConfirmationCode" />
            </div>
            <div class="col-8">
                <span class="text-danger" asp-validation-for="ChangeThePassword.reConfirmationCode"></span>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="col-6 SirooBtn">
                <input type="hidden" value='@ViewData["userid"]' asp-for="ChangeThePassword.UserID" />
                <input type="submit" value="تغییر" asp-page-handler="CofirmCode" />
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 errore-result-message">
                @Model.ResultMessage
            </div>
        </div>

@*        <div class="row justify-content-center mb-3  direction-rtl">
            <div class="col-12 siroo-header-h3">درصورت عدم دریافت پیامک با شماره پشتیبانی تماس بگیرید.</div>
            <div class="col-12 siroo-header-h2"> <a style="color:white;" href="tel:09394125130">تماس با پشتیبانی</a></div>
        </div>*@
        <div class="row mb-2">&nbsp;</div>
    </div>

    <hr />
</form>





@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    //Allow users to enter numbers only
    $(".numericOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $(".numericOnly").bind("paste", function (e) {
        e.preventDefault();
    });

    $(".numericOnly").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "")
            $(this).val(val);
        }
    });

</script>
}

