@page
@model SirooWebAPP.UI.Pages.Clients.DrawsModel
@{
    Layout = "_LayoutClients";
}

@if (Model.RoleName == "super" || Model.RoleName == "admin")
{
    <div class="modal fade" id="finishDrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اتمام دوره</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#finishDrawModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger" onclick="finishDraw();$('#finishDrawModal').modal('toggle');">بلی</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deactiveDrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">غیرفعالسازی دوره</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#deactiveDrawModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger" onclick="deactiveDraw();$('#deactiveDrawModal').modal('toggle');">بلی</button>
                </div>
            </div>
        </div>
    </div>
}

<script id="drawTemplate" type="text/x-jQuery-tmpl">
        <div class="draw {{if isFinished}}finished{{/if}}">
            <div class="header mb-3">
                <div class="profile-link">
                    <a class="profile-media" href="#">
                        <img src="../${owner.profileMediaURL}" />
                    </a>
                    <a href="#" class="profile-fullname">${owner.name}</a>
                    <a href="#" class="profile-date dates">${created}</a>
                </div>
                <div class="status">
                    <span>وضعیت دوره: </span>{{if isFinished}}<span class="inactiveDraw"> غیر فعال </span>{{else}}<span class="activeDraw"> فعال </span>{{/if}}
                </div>
                {{if isFinished==false}}
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-10 justify-content-center mt-3 mb-3" style="height:2rem;">
                        <div class="flipper myFlipper" data-reverse="true" data-datetime="${endDate}" data-template="dd|HH|ii|ss" data-labels="روز|ساعت|دقیقه|ثانیه" ></div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="contents mt-2">
                <span>دوره: </span><span>${name}</span>
            </div>
            <div class="contents mt-2">
                <span>تاریخ شروع: </span><span class="dates">${startDate}</span>
            </div>
            <div class="contents mt-2">
                <span>تاریخ پایان: </span><span class="dates">${endDate}</span>
            </div>
            <div class="row mt-3 justify-content-center mb-3">
                <div class="SirooBtn col-8">
                    {{if isFinished}}
                        <input type="submit" value="برندگان" onclick="$('.prizeWinners.${drawId}').css('display','flex');window.scrollTo(0,0);" />
                    {{else}}
                        <input type="submit" value="جوایز" onclick="$('.prizeWinners.${drawId}').css('display','flex');window.scrollTo(0,0);" />
                    {{/if}}
                </div>
            </div>

    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
                                                        <div class="buttons mt-2">
                                                                <a class="btn-warning m-2  col-8 text-center SirooSimpleBtn {{if isFinished}}hidden{{/if}}" onclick="finishId='${drawId}';$('#finishDrawModal').modal('toggle');">اتمام دوره</a>
                                                                <a class="btn-danger m-2  col-8 text-center SirooSimpleBtn" onclick="deactiveId='${drawId}';$('#deactiveDrawModal').modal('toggle');">غیرفعالسازی دوره</a>
                                                        </div>
    }

        </div>

    <div class="prizeWinners justify-content-center ${drawId}">
        <div class="drawDetails d-flex col-12">
            <div class="col-6">${name}</div>
            <div class="col-6">
                {{if isFinished}}<span class="inactiveDraw"> غیر فعال </span>{{else}}<span class="activeDraw"> فعال </span>{{/if}}
            </div>
        </div>
            <div class="theWinners col-12 ${drawId} direction-rtl">

            </div>
        <div class="SirooBtn row mt-3 mb-3">
            <input type="submit" onclick="$('.prizeWinners').css('display','none');" value="بازگشت" />
        </div>
    </div>

</script>




<div class="draws" id="drawsContainer">
</div>

<div class="winnerTemplate" style="display:none;">
    <div class="Textbox col-10 mb-3">
        <div class="d-flex winner">
            <div class="col-2 winnerRank">
                1
            </div>
            <div class="col-8">
                <div class="winningPrize">&nbsp;</div>
                <div class="winnerUsername">&nbsp;</div>
            </div>
            <div class="col-2 winningPoints">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="threeDots" style="display:none;">
    <div class="col-10 mb-2 theThreeDots">
        &#9679; &#9679; &#9679;
    </div>
</div>





@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>
<script src="~/js/draws.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/jquery.flipper-responsive.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        getDraws();

    });

    var alldraws='';
    var myUsername='@Model.MyUsername';
    var myPoint='@Model.MyPoints';
    function getDraws(){
        $.ajax({
            url: '/draws',
            type: 'GET',
            success: function (result) {
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        sina="{draws:"+result+"}";
                        alldraws=result;
                        $('#drawsContainer').html('');
                        $('#drawTemplate').tmpl(result).appendTo('#drawsContainer');
                        var myflippers=$('.myFlipper');
                        for(i=0;i<myflippers.length;i++){
                            var enddate=new Date($(myflippers[i]).attr('data-datetime'));
                            $(myflippers[i]).attr('data-datetime',enddate.getFullYear()+'-'+(enddate.getMonth()+1)+'-'+enddate.getDate()+" 00:00:00");
                            $(myflippers[i]).flipper('init');
                        }


                        var dates=$('.dates');
                        for(i=0;i<dates.length;i++){
                            $(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                        }
                        theCounter=0;
                        meInvolved=false;
                        winnerTmpl=$('.winnerTemplate');
                        for(i=0;i<alldraws.length;i++){
                            theCounter=0;
                            meInvolved=false;
                            for(j=0;j<alldraws[i].prizes.length;j++){
                                for(k=0;k<alldraws[i].prizes[j].winnerCount;k++){
                                    if(theCounter<alldraws[i].prizeWinners.length){
                                        theCounter+=1;
                                        $(winnerTmpl).attr('count',theCounter);
                                        $(winnerTmpl).find('.winnerRank').html(theCounter);
                                        $(winnerTmpl).find('.winnerUsername').html(alldraws[i].prizeWinners[theCounter-1].username);
                                        $(winnerTmpl).find('.winningPoints').html(alldraws[i].prizeWinners[theCounter-1].points+' امتیاز');
                                        $(winnerTmpl).find('.winningPrize').html(alldraws[i].prizes[j].name);
                                        if(myUsername==alldraws[i].prizeWinners[theCounter-1].username){
                                            $(winnerTmpl).find('.Textbox').addClass('me');
                                            $(winnerTmpl).find('.winner').addClass('me');
                                            meInvolved=true;
                                        }else{
                                            $(winnerTmpl).find('.Textbox').removeClass('me');
                                            $(winnerTmpl).find('.winner').removeClass('me');
                                        }
                                        $('.theWinners.'+alldraws[i].drawId).append(winnerTmpl.html());
                                    }
                                }
                            }

                             if(meInvolved==false && alldraws[i].isFinished==false){
                                                myRank=0;
                                                for(x=0;x<alldraws[i].prizeWinners.length;x++){
                                                    myRank+=1;
                                                    if(alldraws[i].prizeWinners[x].username==myUsername){
                                                        $(winnerTmpl).find('.winnerRank').html(myRank);
                                                        $(winnerTmpl).find('.winnerUsername').html(myUsername);
                                                        $(winnerTmpl).find('.winningPoints').html(myPoint+' امتیاز');
                                                        $(winnerTmpl).find('.winningPrize').html('---');
                                                        $(winnerTmpl).find('.Textbox').addClass('me');
                                                        $(winnerTmpl).find('.winner').addClass('me');

                                                        $('.theWinners.'+alldraws[i].drawId).append($('.threeDots').html());
                                                        $('.theWinners.'+alldraws[i].drawId).append(winnerTmpl.html());
                                                    }
                                                }
                             }
                        }


                    }


            },
        });
    }
</script>


    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
<script>
    finishId=-1;
    function finishDraw(){
        adv=finishId;
        if(adv==-1){
            return;
        }
        $.ajax({
            url: '/finishDraw/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        alert(adv+" is liked");
                        getDraws();
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }

    deactiveId=-1;
    function deactiveDraw(){
        adv=deactiveId;
        if(adv==-1){
            return;
        }
        $.ajax({
            url: '/deactiveDraw/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        alert(adv+" is liked");
                        getDraws();
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }
</script>
    }
}