@page
@model SirooWebAPP.UI.Pages.Clients.DrawsModel
@{
    Layout = "_LayoutClients";
}
<style>
    .draws {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .draw a {
        text-decoration: none;
    }

    .draw {
        display: flex;
        border: 1px solid black;
        border-radius: 1rem;
        justify-content: flex-end;
        flex-direction: row;
        flex-direction: column;
        width: 580px;
        padding: 2px;
        position: relative;
        margin-bottom: 1rem;
    }

        .draw .header {
            display: flex;
            flex-direction: row-reverse;
            /*position: absolute;*/
            right: 10px;
            top: 10px;
        }

    .profile-link {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .profile-media {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

        .profile-media img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid white;
        }

    .post-image {
        <!-- background-image: url(6.jpg); -->
        height: 300px;
        width: 100%;
        border-radius: 1rem;
    }

        .post-image img {
            width: 100%;
            height: 300px;
            border-radius: 1rem;
        }

    .post-video {
        height: 300px;
        width: 100%;
        background-position: center center;
        background-size: cover;
        border-radius: 1rem;
        padding-top: 5px;
    }

    .post-image video {
        border-radius: 1rem;
    }

    .draw .contents {
        display: flex;
        justify-content: center;
        direction: rtl;
    }

    .like-btn, .view-btn {
        width: 30px;
        height: 30px;
        background-image: url(../uploads/assets/like.png);
        background-size: cover;
        display: flex;
        align-items: center;
        color: red;
        font-weight: bold;
        font-size: 0.8rem;
        justify-content: center;
        cursor: pointer;
    }

        .like-btn.liked {
            background-image: url(../uploads/assets/liked.png);
        }

    .liked-btn {
        background-image: url(../uploads/assets/liked.png);
    }

    .view-btn {
        background-image: url(../uploads/assets/view.png);
        margin-left: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .like-details, .view-details {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .hidden {
        display: none;
    }

    .profile-fullname, .profile-date {
        margin-right: 0.5rem;
    }

    .profile-fullname {
        font-weight: bold;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 0.5rem;
        color: white;
    }

    .profile-date {
        direction: rtl;
        color: gray;
        font-size: 0.7rem;
    }

    .caption {
        direction: rtl;
        padding: 0.5rem;
    }
</style>

<script id="drawTemplate" type="text/x-jQuery-tmpl">
    <div class="draw {{if isFinished}}finished{{/if}}">
        <div class="header">
            <div class="profile-link">
                <a class="profile-media" href="#">
                    <img src="../${owner.profileMediaURL}" />
                </a>
                <a href="#" class="profile-fullname">${owner.name}</a>
                <a href="#" class="profile-date dates">${created}</a>
            </div>
        </div>
        <div class="contents">
            <span>دوره:</span><span>${name}</span>
        </div>
        <div class="contents">
            <span>تاریخ شروع:</span><span class="dates">${startDate}</span>
        </div>
        <div class="contents">
            <span>تاریخ پایان:</span><span class="dates">${endDate}</span>
        </div>
        <hr/>

        <div class="contents">
            <div class="row">
                <h3>جوایز</h3>
            </div>
        </div>

        {{each prizes}}
            <div class="contents">
                <span>${$index + 1}:</span> <span>${name}</span>، <span>${winnerCount} نفر</span>
            </div>
        {{/each}}

        <hr/>
        {{if isFinished}}
            <div class="contents">
                <div class="row">
                    <h3>برنده شدگان</h3>
                </div>
            </div>
        {{else}}
            <div class="contents">
                <div class="row">
                    <h3>تاکنون</h3>
                </div>
            </div>
        {{/if}}

        {{each prizeWinners}}
            <div class="contents">
                <span>${$index + 1}:</span> <span>${username}</span>، <span>${points} امتیاز</span>
            </div>
        {{/each}}

        <hr/>
    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
        <div class="contents">
            <div class="row">
                <a class="btn-warning m-2  col-8 text-center rounded-3 {{if isFinished}}hidden{{/if}}" onclick="finishDraw('${drawId}');">اتمام دوره</a>
                <a class="btn-danger m-2  col-8 text-center rounded-3" onclick="deactiveDraw('${drawId}');">غیرفعالسازی دوره</a>
            </div>
        </div>
    }

    </div>

</script>

<div class="draws" id="drawsContainer">
</div>

@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        getDraws();
    });

    function getDraws(){
        $.ajax({
            url: '/draws',
            type: 'GET',
            success: function (result) {
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        sina="{draws:"+result+"}";
                        $('#drawsContainer').html('');
                        $('#drawTemplate').tmpl(result).appendTo('#drawsContainer');

                        var dates=$('.dates');
                        for(i=0;i<dates.length;i++){
                            $(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                        }
                    }


            },
        });
    }

    function finishDraw(adv){
        $.ajax({
            url: '/finishDraw/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        alert(adv+" is liked");
                        getDraws();
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }
    function deactiveDraw(adv){
        $.ajax({
            url: '/deactiveDraw/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        alert(adv+" is liked");
                        getDraws();
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }
</script>

}