@page
@model SirooWebAPP.UI.Pages.MainModel
@{
    Layout = "_LayoutClients";
}
@if (Model.RoleName == "super" || Model.RoleName == "admin")
{
    <div class="modal fade" id="finishDrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اتمام دوره</h5>
                    <button onclick="$('#finishdraw_'+finishId).css('opacity','1');$('#finishDrawModal').modal('toggle');" type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#finishdraw_'+finishId).css('opacity','1');$('#finishDrawModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-warning" onclick="finishDraw();$('#finishDrawModal').modal('toggle');">بلی</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="archiveDrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">آرشیو دوره</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#archiveDrawModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger" onclick="archiveDraw();$('#archiveDrawModal').modal('toggle');">بلی</button>
                </div>
            </div>
        </div>
    </div>

}



<div class="modal fade" id="useChipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">ثبت کد امتیاز</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="chipPIN" type="text" style="color:black!important;" placeholder="کد امتیاز..." />



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#useChipModal').modal('toggle');" data-dismiss="modal">بازگشت</button>
                <button type="button" class="btn btn-danger" onclick="useChip();$('#useChipModal').modal('toggle');">ثبت</button>
            </div>
        </div>
    </div>
</div>





<script id="drawTemplate" type="text/x-jQuery-tmpl">
        <div class="draw {{if isFinished}}finished{{/if}}">
            <div class="header mb-3">
                <div class="profile-link">
                    <a class="profile-media" href="#">
                        <img src="../${owner.profileMediaURL}" />
                    </a>
                    <a href="#" class="profile-fullname">${owner.name}</a>
                    <a href="#" class="profile-date dates">${created}</a>
                </div>
                <div class="status">
                    <span>وضعیت دوره: </span>{{if isFinished}}<span class="inactiveDraw"> غیر فعال </span>{{else}}<span class="activeDraw"> فعال </span>{{/if}}
                </div>
                {{if isFinished==false}}
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-10 justify-content-center mt-3 mb-3" style="height:2rem;">
                        <div class="flipper myFlipper" data-reverse="true" data-datetime="${endDate}" data-template="dd|HH|ii|ss" data-labels="روز|ساعت|دقیقه|ثانیه" ></div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="contents mt-2">
                <span>دوره: </span><span>${name}</span>
            </div>
            <div class="contents mt-2" style="display:none;">
                <span>تاریخ شروع: </span><span class="dates">${startDate}</span>
            </div>
            <div class="contents mt-2" style="display:none;">
                <span>تاریخ پایان: </span><span class="dates">${endDate}</span>
            </div>
            <div class="row mt-3 justify-content-center mb-3">
                <div class="SirooBtn col-8">
                    {{if isFinished}}
                        <input type="submit" value="برندگان" onclick="$('.prizeWinners.${drawId}').css('display','flex');window.scrollTo(0,0);" />
                    {{else}}
                        <input type="submit" value="جوایز" onclick="$('.prizeWinners.${drawId}').css('display','flex');window.scrollTo(0,0);toggleMuteAllVideos(true);" />
                    {{/if}}
                </div>
            </div>

    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
                                                                                <div class="buttons mt-2">
                                                                                        <a id="finishdraw_${drawId}" class="btn-warning m-2  col-8 text-center SirooSimpleBtn {{if isFinished}}hidden{{/if}}" onclick="finishId='${drawId}';$(this).css('opacity','0.1');$('#finishDrawModal').modal('toggle');">اتمام دوره</a>
                                                                                        {{if isFinished}}
                                                                                            <a class="btn-secondary m-2 arvhive-btn col-8 text-center SirooSimpleBtn" onclick="archiveId='${drawId}';$('#archiveDrawModal').modal('toggle');">آرشیو کردن  این دوره</a>
                                                                                        {{/if}}
                                                                                </div>
    }

        </div>

    <div class="prizeWinners justify-content-center ${drawId}">
        <div class="drawDetails d-flex col-12">
            <div class="col-6">${name}</div>
            <div class="col-6">
                {{if isFinished}}<span class="inactiveDraw"> غیر فعال </span>{{else}}<span class="activeDraw"> فعال </span>{{/if}}
            </div>
        </div>
            <div class="theWinners col-12 ${drawId} direction-rtl">

            </div>
        <div class="SirooBtn row mt-3 mb-3">
            <input type="submit" onclick="$('.prizeWinners').css('display','none');toggleMuteAllVideos(false);" value="بازگشت" />
        </div>
    </div>

</script>


<div class="shortCuts">
    <div class="shortcut" onclick="toggleRoullete();">
        <div class="roullet-icon">
            &nbsp;
        </div>
        <div class="theText">
            گردونه الماس
        </div>
    </div>
    <div class="shortcut" onclick="gotoChallenge();">
        <div class="challenge-icon">
            &nbsp;
        </div>
        <div class="theText">
            پکیج ویژه سیرو
        </div>
    </div>
    <div class="shortcut" onclick="gotoChallengePrizes();">
        <div class="challengeprizes-icon">
            &nbsp;
        </div>
        <div class="theText">
            برندگان پکیج ویژه
        </div>
    </div>
    <div class="shortcut" onclick="gotoTrainings();">
        <div class="training-icon">
            &nbsp;
        </div>
        <div class="theText">
            آموزش استفاده سیرو
        </div>
    </div>
</div>



<div class="draws home-draws" id="drawsContainer">
</div>


<div id="alldrawsBTN" class"container justify-content-center" style="text-align:center;">
    <a href="/Clients/Draws" class="btn-primary m-2 col-6 text-center SirooSimpleBtn">برندگان دوره‌های قبل</a>
    <a onclick="$('#useChipModal').modal('toggle');" class="btn-primary m-2 col-5 text-center SirooSimpleBtn">ثبت کد امتیاز</a>
</div>


@*<div id="mainbox" class="mainbox">
    <div id="box" class="box">
    </div>
    <button class="spin" onclick="myfunction()">بچرخ</button>
    </div>
*@

<a id="TheRoulleteSection" name="TheRoulleteSection"></a>
<div align="center" class="roulleteSection">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td id="theWheel" class="the_wheel" align="center" valign="center">
                <canvas id="canvas" width="300" height="300" onclick="startSpin();">
                    <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                </canvas>
            </td>
        </tr>
    </table>


    <div class"container justify-content-center" style="text-align:center;">
        <a href="/clients/diamondhistory?pagee=0&handler=Display" class="btn-primary m-2 col-6 text-center SirooSimpleBtn">الماس‌های دریافت‌شده</a>
    </div>
</div>



<div class="winnerTemplate" style="display:none;">
    <div class="Textbox col-10 mb-3">
        <div class="d-flex winner">
            <div class="col-2 winnerRank">
                1
            </div>
            <div class="col-8">
                <div class="winningPrize">&nbsp;</div>
                <div class="winnerUsername">&nbsp;</div>
            </div>
            <div class="col-2 winningPoints">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="threeDots" style="display:none;">
    <div class="col-10 mb-2 theThreeDots">
        &#9679; &#9679; &#9679;
    </div>
</div>

@if (Model.ResultMessage.Length > 1)
{
    <div class="alert alert-@Model.ResultMessageSuccess fade show" role="alert">
        @Model.ResultMessage
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.RoleName == "super" || Model.RoleName == "admin")
{
    <!-- Modal -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel5">حذف پست</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#deletePostModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger" onclick="_deletePost();">بلی</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pinPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">سنجاق پُست</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بازگشت">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    مطمئن هستید که میخواهید وضعیت سنجاق پست را تغییر دهید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#pinPostModal').modal('toggle');" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger" onclick="_pinPost();$('#pinPostModal').modal('toggle');">بلی</button>
                </div>
            </div>
        </div>
    </div>
}

<script id="adsTemplate" type="text/x-jQuery-tmpl">

    <div adid="${advertiseID}" id="postobject${advertiseID}" class="container mb-5 post ${advertiseID} {{if isVideo!=1 && isAudio!=1}}finished {{/if}} {{if isPremium==1}}premium {{/if}} SirooPost">
        <div class="d-flex flex-row-reverse profile-data-section">
                <a class="profile-media col-2   {{if isSpecial==1}}fa fa-tag{{/if}}  " href="/Clients/Profiles?username=${owner.username}">
                    <img src="../${owner.profileMediaURL}" />
                </a>
                <div class="col-8 profile-fullname">
                    <a class="profile-username-link" href="/Clients/Profiles?username=${owner.username}">
                        ${owner.username}
                    </a>
                    <a href="/Clients/ChatHistory?touser=${owner.username}" class="sendMessageIcon" style="color:#00ff2b!important;">
                        ارسال پیام
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
                <a href="#" class="col-2 profile-date">${creationDate}</a>
        </div>
        <div class="row">
            <div class="col-12">
                {{if isVideo==1}}
                    <span class="video-timer" id="timer_video_${advertiseID}"></span>
                    <video class="col-12" ondblclick="_doLike(this,'${advertiseID}');" onclick="toggleMute('video_${advertiseID}');" id="video_${advertiseID}"  onended="_dobLike(this,'${advertiseID}')" ontimeupdate="_onProgress(this);" playsinline>
                                <source src="../${mediaSourceURL}">
                                Your browser does not support the video tag.
                    </video>
                {{/if}}
                {{if isAudio==1}}
                    <span class="video-timer" id="timer_video_${advertiseID}"></span>
                    <img class="picture_of_audio" id="the_audio_${advertiseID}_image" src="" alt= "picture extracted from ID3" />	
                    <div class="the_Audio" id="the_audio_${advertiseID}" data-theURL="../${mediaSourceURL}" onclick="toggleMuteAudio('#the_audio_${advertiseID}');" >
                        
                    </div>
@*                    <audio class="col-12" ondblclick="_doLike(this,'${advertiseID}');" onclick="toggleMute('video_${advertiseID}');" id="video_${advertiseID}"  onended="_dobLike(this,'${advertiseID}')" ontimeupdate="_onProgress(this);" playsinline>
                                <source src="../${mediaSourceURL}">
                                Your browser does not support the video tag.
                    </audio>*@
                {{/if}}
                {{if isVideo!=1 && isAudio!=1}}
                    <img class="col-12 finished" ondblclick="_doLike(this,'${advertiseID}');" src="../${mediaSourceURL}" />
                {{/if}}
            </div>

        </div>
        <div class="d-flex flex-row-reverse post-data-section">
                <div class="col-12 post-caption">
                        ${caption}
                </div>
    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
                                                <div class="col-6 delPostAdmin mt-1 mb-1">
                                                        <input type="button" class="btn btn-danger" value="حذف این پست" onclick="delId='${advertiseID}';$('#deletePostModal').modal('toggle');" />

                                                </div>

                                                <div class="col-6 delPostAdmin mt-1 mb-1">
                                                        <input type="button" class="btn btn-primary" value="سنجاق این پست" onclick="pinId='${advertiseID}';$('#pinPostModal').modal('toggle');" />
                                                </div>



    }
    <div class="col-1 like-btn ${advertiseID} {{if youLiked}}liked{{/if}}" {{if isVideo==1}} onclick="_doLike(this,'${advertiseID}')" {{else}} onclick="_doLike(this,'${advertiseID}')" {{/if}} >+${likeReward}</div>
                <div class="col-2 like-details ${advertiseID}"><b>${likerCount}</b> <i>liked</i></div>
                <div class="col-1 view-btn">&nbsp;</div>
                <div class="col-2 view-details"><b>${viewerCount}</b> <i>view</i></div>
                <div class="col-5 like-points">
                    <div class="pics">
                        <img class="col-8" src="../images/points.png" />
                        ${likeReward}
                    </div>
                    <div class="points-texts">
                        امتیاز لایک این پست
                    </div>
                </div>
        </div>
    </div>


</script>

<div class="posts" id="adsContainer">
    <div class="threeDotsLoading">
        <img src="~/images/loading.gif" style="width:3rem;" />
        <div class="siroo-header-h3 direction-rtl">
            در حال بروزرسانی...
        </div>
    </div>
</div>
<div id="afterLastPost">
    <div class="threeDotsLoading2">
        <img src="~/images/loading.gif" style="width:3rem;" />
        <div class="siroo-header-h3 direction-rtl">
            در حال بروزرسانی...
        </div>
    </div>
</div>





<img id="unmute_btn" src="../images/unmute.png" class="MuteAndUnmute" onclick="hideUnmute();" />
<img id="mute_btn" src="../images/mute.png" class="MuteAndUnmute" onclick="hideMute();" />

<link rel="stylesheet" href="~/css/jsRapAudio.css" asp-append-version="true" />
@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>
<script src="~/js/persian-date.min.js"></script>
<script src="~/js/isInViewport.min.js"></script>
<script src="~/js/pages/Main-db.js?i=2"></script>
<script src="~/js/pages/Main-default.js?i=11"></script>
<script src="~/js/id3-minimized.js"></script>
<script src="~/js/jsRapAudio.js"></script>


<script src="~/js/draws.js"></script>

<script src="~/js/popper.min.js"></script>
<script src="~/js/jquery.flipper-responsive.js"></script>
<script src="~/js/pages/Draws-default.js?i=2"></script>

<script src="~/js/TweenMax.js"></script>
<script src="~/js/Winwheel.js"></script>
<script>
    var myUsername = '@Model.MyUsername';
    var myPoint = '@Model.MyPoints';
    var arraysofDiamonds=JSON.parse('@Html.Raw(Model.DiamondCountList)');

    $(document).ready(function () {
        alldrawsPermit=0;
        getDraws();

    });

    function toggleRoullete(){
        status=$('.roulleteSection').css('display');
        if(status=='none'){
            $('.roulleteSection').show();
            var top = document.getElementById("TheRoulleteSection").offsetTop; //Getting Y of target element
            window.scrollTo(0, top);
        }else{
            $('.roulleteSection').hide();
        }
    }

    function gotoChallenge(){
        window.location="/Clients/Challenge";
    }
    function gotoChallengePrizes(){
        window.location="/Clients/ChallengePrizeHistory?pagee=0&handler=Display";
    }
    function gotoTrainings(){
        window.location="../Public/TrainingCenter";
    }
</script>

    @if (Model.RoleName == "super" || Model.RoleName == "admin")
    {
<script src="~/js/pages/Main-super-admin.js?i=4"></script>
<script src="~/js/pages/Draws-super-admin.js?i=1"></script>
    }
}