@page
@model SirooWebAPP.UI.Pages.MainModel
@{
    Layout = "_LayoutClients";
}
<style>
    .posts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

        .posts a {
            text-decoration: none;
        }

    .post {
        display: flex;
        border: 1px solid black;
        border-radius: 1rem;
        justify-content: flex-end;
        flex-direction: row;
        flex-direction: column;
        width: 580px;
        padding: 2px;
        position: relative;
        margin-bottom: 1rem;
    }

        .post .header {
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            right: 10px;
            top: 10px;
        }

    .profile-link {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .profile-media {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

        .profile-media img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid white;
        }

    .post-image {
        <!-- background-image: url(6.jpg); -->
        height: 300px;
        width: 100%;
        border-radius: 1rem;
    }

        .post-image img {
            width: 100%;
            height: 300px;
            border-radius: 1rem;
        }

    .post-video {
        height: 300px;
        width: 100%;
        background-position: center center;
        background-size: cover;
        border-radius: 1rem;
        padding-top: 5px;
    }

    .post-image video {
        border-radius: 1rem;
    }

    .post .contents {
        display: flex;
        justify-content: center;
    }

    .like-btn, .view-btn {
        width: 30px;
        height: 30px;
        background-image: url(../uploads/assets/like.png);
        background-size: cover;
        display: flex;
        align-items: center;
        color: red;
        font-weight: bold;
        font-size: 0.8rem;
        justify-content: center;
        cursor:pointer;
    }

        .like-btn.liked {
            background-image: url(../uploads/assets/liked.png);
        }

    .liked-btn {
        background-image: url(../uploads/assets/liked.png);
    }

    .view-btn {
        background-image: url(../uploads/assets/view.png);
        margin-left: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .like-details, .view-details {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .hidden {
        display: none;
    }

    .profile-fullname, .profile-date {
        margin-right: 0.5rem;
    }

    .profile-fullname {
        font-weight: bold;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 0.5rem;
        color: white;
    }

    .profile-date {
        direction: rtl;
        color: gray;
        font-size: 0.7rem;
    }
    .caption{
        direction:rtl;
        padding:0.5rem;
    }
</style>

<script id="adsTemplate" type="text/x-jQuery-tmpl">
    <div class="post">
        <div class="header">
            <div class="profile-link">
                <a class="profile-media" href="#">
                    <img src="../${owner.profileMediaURL}" />
                </a>
                <a href="#" class="profile-fullname">${owner.name}</a>
                <a href="#" class="profile-date">${creationDate}</a>
            </div>
        </div>
        <div class="contents">
    {{if isVideo==1}}
            <div class="post-video">
                <video width="580px" height="300px" controls>
                    <source src="../${mediaSourceURL}">
                    Your browser does not support the video tag.
                </video>
            </div>
    {{else}}
            <div class="post-image">
                <img src="../${mediaSourceURL}" />
            </div>
    {{/if}}
        </div>
        <div class="footer">
            <div class="like-btn {{if youLiked}}liked{{/if}}" onclick="_doLike('${advertiseID}')">+${likeReward}</div>
            <div class="like-details"><b>${likerCount}</b> <i>liked</i></div>
            <div class="view-btn">&nbsp;</div>
            <div class="view-details"><b>${viewerCount}</b> <i>view</i></div>
        </div>
        <div class="caption">
            ${caption}
        </div>

    </div>

</script>

<div class="posts" id="adsContainer">
</div>

@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/ads',
            type: 'GET',
            success: function (result) {
                //var ads = jQuery.parseJSON(result);
                sina="{ads:"+result+"}";
                $('#adsTemplate').tmpl(result).appendTo('#adsContainer');
                
                var dates=$('.profile-date');
                for(i=0;i<dates.length;i++){
                    $(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                }

                
            },
        });
    });

    function _doLike(adv){
        $.ajax({
            url: '/dolike/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        alert(adv+" is liked");
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }
</script>

}