@page
@model SirooWebAPP.UI.Pages.MainModel
@{
    Layout = "_LayoutClients";
}
<style>


</style>

@if (Model.ResultMessage.Length > 1)
{
    <div class="alert alert-@Model.ResultMessageSuccess fade show" role="alert">
        @Model.ResultMessage
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<script id="adsTemplate" type="text/x-jQuery-tmpl">

    <div class="container border shadow-lg p-1 mb-5 bg-white rounded post ${advertiseID}">
        <div class="d-flex flex-row-reverse profile-data-section">
                <a class="profile-media col-2" href="#">
                    <img src="../${owner.profileMediaURL}" />
                </a>
                <a href="#" class="col-3 profile-fullname">${owner.name}</a>
                <a href="#" class="col-2 profile-date">${creationDate}</a>
        </div>
        <div class="row">
            <div class="col-12">
                {{if isVideo==1}}
                    <video class="col-12" controls onended="_doLike(this,'${advertiseID}')">
                                <source src="../${mediaSourceURL}">
                                Your browser does not support the video tag.
                    </video>
                {{else}}
                    <img class="col-12" src="../${mediaSourceURL}" />
                {{/if}}
            </div>
        </div>
        <div class="row m-2">
                <div class="col-3 like-btn {{if youLiked}}liked{{/if}}" {{if isVideo==1}} onclick="_dobLike(this,'${advertiseID}')" {{else}} onclick="_doLike(this,'${advertiseID}')" {{/if}} >+${likeReward}</div>
                <div class="col-3 like-details"><b>${likerCount}</b> <i>liked</i></div>
                <div class="col-3 view-btn">&nbsp;</div>
                <div class="col-3 view-details"><b>${viewerCount}</b> <i>view</i></div>
        </div>
        <div class="d-flex flex-row-reverse">
                ${caption}
        </div>
    </div>













</script>

<div class="posts" id="adsContainer">
</div>

@section Scripts {
<script src="~/js/jquery.tmpl.min.js"></script>
<script src="~/js/jquery.timeago.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/ads?rnd='+Math.random(),
            type: 'GET',
            success: function (result) {
                if(result=="gologin"){
                    window.location="/login/login";
                }else{
                    //var ads = jQuery.parseJSON(result);
                    sina="{ads:"+result+"}";
                    $('#adsTemplate').tmpl(result).appendTo('#adsContainer');

                    var dates=$('.profile-date');
                    for(i=0;i<dates.length;i++){
                        $(dates[i]).text(jQuery.timeago($(dates[i]).text()));
                    }
                }

            },
        });
    });
    function _dobLike(obj,adv){
        if($('.'+adv+' .like-btn').hasClass('liked')){
            return;
        }
        alert('باید ویدئو را تا انتها ملاحظه بفرمایید تا امتیاز لایک این ویدئو را دریافت نمایید.');

    }
    function _doLike(obj,adv){
        if($(this).hasClass('liked')){
            return;
        }
        $.ajax({
            url: '/dolike/'+adv,
            type: 'GET',
            success: function (result) {
                if(result){
                    if(result=="gologin"){
                        window.location="/login/login";
                    }else{
                        $('.'+adv+' .like-btn').addClass('liked');

                        _result=parseInt(result);
                        if(_result>0){
                            $('.'+adv+' .like-details b').text(parseInt($('.'+adv+' .like-details b').text())+1);
                            pointUpdated(result);
                        }
                        //alert(adv+" is liked");
                    }
                }else{
                    alert("failed");
                }
            },
        });
    }
</script>

}