@page
@model SirooWebAPP.UI.Pages.LoginModel
@{
}

<form method="post">

    <div class="d-flex flex-column justify-content-center SirooContainer">

@*        <div class="row justify-content-center mt-3 mb-3 direction-rtl">
            <div class="col-12 siroo-header-h3 mt-3">لطفا از بازبودن پیامک های تبلیغاتی خط خود اطمینان حاصل فرمایید.</div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 siroo-header-h3">فعالسازی پیامک تبلیغاتی همراه اول: پیامک 2 به 8999</div>
            <div class="col-12 siroo-header-h3">فعالسازی پیامک تبلیغاتی ایرانسل: پیامک 1 به 5005</div>
        </div>*@

        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="row justify-content-center mb-3">
                <div class="col-12 siroo-header">ورود</div>
            </div>
            <div class="col-10 Textbox  fa fa-mobile">
                <input type="text" placeholder="تلفن همراه 0912123456" id="CellPhone" class="numericOnly col-12" asp-for="LoginPerson.Cellphone" />
            </div>
        </div>

        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 SirooBtn ">
                <input type="submit" value="ورود" asp-page-handler="Login" />
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 errore-result-message">
                @Model.ResultMessage
            </div>
        </div>
        <div class="row mb-2">&nbsp;</div>
    </div>

</form>

@section Scripts {

<script type="text/javascript">
    //Allow users to enter numbers only
    $(".numericOnly").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });

    //Disable paste
    $(".numericOnly").bind("paste", function (e) {
        e.preventDefault();
    });

    $(".numericOnly").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "")
            $(this).val(val);
        }
    });
</script>
}