@page
@model SirooWebAPP.UI.Pages.Superadmins.AddDrawModel
@{
    Layout = "_LayoutClients";
}

<form method="post" enctype="multipart/form-data">

    <div class="container">
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-2">نام دوره *</div>
            <div class="col-8">
                <input type="text" asp-for="AddDraw.Name"></input> <span asp-validation-for="AddDraw.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">* دوره</div>
            <div class="col-4">
                <select id="ddlUsers" asp-items="@Model.OwnerOptions" asp-for="AddDraw.OwnerId">
                    <option value="0">--انتخاب صاحب دوره--</option>
                </select>
                <span asp-validation-for="AddDraw.OwnerId"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">زمان شروع *</div>
            <div class="col-4">
                <input type="text" id="txtStartDate" class="form-control" /> <span asp-validation-for="AddDraw.StartDate"></span>
                <input type="hidden" class="alt-field-start" asp-for="AddDraw.StartDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">زمان پایان *</div>
            <div class="col-4">
                <input type="text" id="txtEndDate" class="form-control"></input> <span asp-validation-for="AddDraw.EndDate"></span>
                <input type="hidden" class="alt-field-end" asp-for="AddDraw.EndDate" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="AddDraw.IsLottery">
                    <label class="form-check-label" for="AddDraw.IsLottery">قرعه کشی است</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="AddDraw.IsActivated">
                    <label class="form-check-label" for="AddDraw.IsActivated">فعال است</label>
                </div>
            </div>
        </div>


        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="submit" value="Submit" asp-page-handler="AddDraw" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                @Model.ResultMessage
            </div>
        </div>

    </div>

</form>

@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="~/css/select2.min.css" />
<script type="text/javascript" src="~/js/select2.min.js"></script>
<link rel="stylesheet" href="~/css/bootstrap-datepicker.css" type="text/css" />
<link rel="stylesheet" href="~/css/persian-datepicker.min.css" type="text/css" />
<script src="~/js/persian-date.min.js" type="text/javascript"></script>
<script src="~/js/persian-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#ddlUsers").select2();

        $("#txtStartDate").persianDatepicker({
                altField: '.alt-field-start',
                observer: true,
                autoClose: true,
                format: 'YYYY/MM/DD',
        });
        $("#txtEndDate").persianDatepicker({
                altField: '.alt-field-end',
                autoClose: true,
                observer: true,
                format: 'YYYY/MM/DD',
        });
    });
</script>
}
