@page
@model SirooWebAPP.UI.Pages.RegisterModel
@{
}



<form method="post" id="registerForm">

    <div class="d-flex flex-column justify-content-center SirooContainer">

        @*        <div class="row justify-content-center mt-3 mb-3  direction-rtl">
            <div class="col-12 siroo-header-h3 mt-3">با تکمیل ثبت نام </div>
            </div>
            <div class="row justify-content-center mb-3">
            <div class="col-12 siroo-header-h3">فعالسازی پیامک تبلیغاتی همراه اول: پیامک 2 به 8999</div>
            <div class="col-12 siroo-header-h3">فعالسازی پیامک تبلیغاتی ایرانسل: پیامک 1 به 5005</div>
            </div>*@

        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 siroo-header">ثبت نام</div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-pencil">
                <input type="text" class="col-12" id="FirstName" placeholder="نام" asp-for="Person.FirstName" />
            </div>
            <div class="col-10 justify-content-center d-flex direction-rtl">
                <span class="text-danger" asp-validation-for="Person.FirstName"></span>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-pencil">
                <input type="text" id="LastName" class="col-12" placeholder="نام خانوادگی" asp-for="Person.LastName" />
            </div>
            <div class="col-10 justify-content-center d-flex direction-rtl">
                <span class="text-danger" asp-validation-for="Person.LastName"></span>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-user">
                <input type="text" id="UserName" placeholder="نام کاربری (فقط حروف کوچک لاتین)" class="latinNOnly col-12" asp-for="Person.UserName" />
            </div>
            <div class="col-10 justify-content-center d-flex direction-rtl">
                <span class="text-danger" asp-validation-for="Person.UserName"></span>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-mobile">
                <input type="text" placeholder="تلفن همراه " id="CellPhone" class="numericOnly col-12" asp-for="Person.CellPhone" />
            </div>
            <div class="col-10 justify-content-center d-flex direction-rtl">
                <span class="text-danger" asp-validation-for="Person.CellPhone"></span>
            </div>
        </div>
        @*        <div class="row">
            <div class="col-2">آدرس ایمیل</div>
            <div class="col-4">
            <input type="text" id="Email" asp-for="Person.Email" />
            <span class="text-danger" asp-validation-for="Person.Email"></span>
            </div>
            </div>*@
        <div class="row">&nbsp;</div>
        <div class="row justify-content-center">
            <div class="col-10 SirooBtn">
                @{
                    if (ViewData["InviterUserID"] != null)
                    {
                        <input type='hidden' value='@ViewData["InviterUserID"]' asp-for='Person.InviterUserID' />
                    }

                }
                <input type="submit" id="btnRegister" value="ثبت نام" asp-page-handler="Register" />
            </div>
        </div>
        <div class="row mb-2">&nbsp;</div>
        <div class="row mb-2">&nbsp;</div>
    </div>

</form>

@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/pages/Register-default.js"></script>

}
