@page
@model SirooWebAPP.UI.Pages.RegisterModel
@{
}



<form method="post" id="registerForm">

    <div class="d-flex flex-column justify-content-center SirooContainer">
        <div class="row">&nbsp;</div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 siroo-header">ثبت نام</div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-pencil">
                <input type="text" class="col-12" id="FirstName" placeholder="نام" asp-for="Person.FirstName" />    <span asp-validation-for="Person.FirstName"></span>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-pencil">
                <input type="text" id="LastName" class="col-12" placeholder="نام خانوادگی" asp-for="Person.LastName" />
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-user">
                <input type="text" id="UserName" placeholder="نام کاربری (فقط لاتین)" class="latinOnly col-12" asp-for="Person.UserName" />
                <span class="text-danger" asp-validation-for="Person.UserName"></span>

            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-10 Textbox fa fa-mobile">
                <input type="text" placeholder="تلفن همراه 0912123456" id="CellPhone" class="numericOnly col-12" asp-for="Person.CellPhone" />
                <span class="text-danger" asp-validation-for="Person.CellPhone"></span>
            </div>
        </div>
        @*        <div class="row">
            <div class="col-2">آدرس ایمیل</div>
            <div class="col-4">
            <input type="text" id="Email" asp-for="Person.Email" />
            <span class="text-danger" asp-validation-for="Person.Email"></span>
            </div>
            </div>*@
        <div class="row">&nbsp;</div>
        <div class="row justify-content-center">
            <div class="col-10 SirooBtn">
                @{
                    if (ViewData["InviterUserID"] != null)
                    {
                        <input type='hidden' value='@ViewData["InviterUserID"]' asp-for='Person.InviterUserID' />
                    }

                }
                <input type="submit" id="btnRegister" value="ثبت نام" asp-page-handler="Register" />
            </div>
        </div>
        <div class="row mb-2">&nbsp;</div>
        <div class="row mb-2">&nbsp;</div>
    </div>

</form>

@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">




    $('#btnRegister').on('click',function() {
      //$('#btnRegister').attr('disabled','true');
        $('form').removeData("validator").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse($('form'));
        if ($('form').valid()) {
          $('#btnRegister').attr('disabled','true');
          $('#registerForm').attr("action",$('#btnRegister').attr('formaction'));
          $('#registerForm').submit();
        }

    });
        //Allow users to enter numbers only
        $(".numericOnly").bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });

        //Disable paste
        $(".numericOnly").bind("paste", function (e) {
            e.preventDefault();
        });

        $(".numericOnly").bind('mouseenter', function (e) {
            var val = $(this).val();
            if (val != '0') {
                val = val.replace(/[^0-9]+/g, "")
                $(this).val(val);
            }
        });
        //Allow users to enter a-z only
        $(".latinOnly").bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 97 || code > 122)
                return false;
        });

        //Disable paste
        $(".latinOnly").bind("paste", function (e) {
            e.preventDefault();
        });

        $(".latinOnly").bind('mouseenter', function (e) {
            var val = $(this)[0].value;
            if (val != '0') {
                val = val.replace(/[^a-z]+/g, "")
                $(this).val(val);
            }
        });
</script>
}
