html {
    font-size: 14px;
    font-family:'Yekan';
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.profile-media {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

    .profile-media img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
    }

.like-btn, .view-btn {
    width: 2rem;
    height: 2rem;
    background-image: url(../uploads/assets/like.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;
}

    .like-btn.liked {
        background-image: url(../uploads/assets/liked.png);
    }

.liked-btn {
    background-image: url(../uploads/assets/liked.png);
}

.view-btn {
    background-image: url(../uploads/assets/view.png);
}

.profile-fullname, .profile-date {
    margin-right: 0.5rem;
}

.profile-fullname {
    font-weight: bold;
    padding: 0rem .5rem 0rem 1rem;
    color: white;
    text-decoration:none;
    font-family:'Yekan';
    font-size:1rem;
}

.profile-date {
    direction: rtl;
    color: white;
    font-size: 1rem;
    text-decoration:none;
    font-family:'Yekan';
}
.profile-data-section {
    align-items: center;
    text-align: right;
    border-radius: 2rem 2rem 0 0;
    background: linear-gradient(to left,#00FFFF88,#FF00FF88);
    margin-top: 1rem;
    position: relative;
    top: 1px;
    padding: 0.5rem .5rem 0.5rem 0;
}
.post-data-section {
    align-items: center;
    text-align: right;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(to left,#00FFFF88,#FF00FF88);
    position: relative;
    top: 1px;
    padding: 0.5rem 0.2rem 0.5rem 0;
    flex-wrap: wrap;
    padding-right: 0.5rem;
}
.post-caption {
    font-family: 'Yekan';
    color: white;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    
}
.post video {
    max-height: 65vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}
.post .profile-date {
    font-size: 0.7rem!important;
    margin-right: 0px!important;
}
.post img.finished{
    max-height:65vh;
}
.points-texts {
    font-size: .8rem;
}
.like-details, .view-details {
    color: white;
    margin-right: .3rem;
}
.caption {
    direction: rtl;
    padding: 0.5rem;
    
}
div#adsContainer {
    margin-right: 1rem;
    margin-left: 1rem;
}
div#afterLastPost {
    margin-bottom: 26vh;
    padding-bottom: 2rem;
}
.like-points .pics {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.like-points {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family:'Yekan';
    color:white;
}
input#UserName{
    font-size:1rem;
}
/*@font-face {
    font-family: 'Yekan';
    src: url('webfonts/Yekan.eot');*/ /* IE9 Compat Modes */
/*src: url('webfonts/Yekan.eot?#iefix') format('embedded-opentype'),*/ /* IE6-IE8 */
/*url('webfonts/Yekan.woff2') format('woff2'),*/ /* Modern Browsers */
/*url('webfonts/Yekan.woff') format('woff'),*/ /* Modern Browsers */
/*url('webfonts/Yekan.otf') format('opentype'),*/ /* Open Type Font */
/*url('webfonts/Yekan.ttf') format('truetype');*/ /* Safari, Android, iOS */
/*font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}*/
@font-face {
    font-family: 'Yekan';
    src: url(webfonts/IRANSansWebFaNum.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}