@page
@model SirooWebAPP.UI.Pages.IndexModel
@{
}



<div class="container">
    <div class="col-10">
        For the best user experience, we recommend accessing this website on a mobile device or using your browser’s mobile view on desktop.
    </div>
    <div class="col-10">
        Please note, this website was originally developed in Persian. You may use Google Auto Translate or any other translation tool to view it in your preferred language.
    </div>
    <div class="col-10">
        Test login details are available on the login page. <a href="/Clients/Main">Login Page</a>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <img class="col-12" src="~/images/logo.png" />
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-12 justify-content-center" style="text-align:center;">
            <a href="https://omanmultimedia.com/sirooapp.apk" target="_blank">
                <img src="~/images/android-logo.png" class="col-6" style="border-radius:3rem;" />
            </a>
        </div>
        <div class="col-12 justify-content-center mt-3" style="text-align:center;">
            <a style="text-align:center;font-family:'Yekan';text-decoration:none;color:#00ff2b;font-size:1.5rem;" href="https://omanmultimedia.com/sirooapp.apk" target="_blank">دانلود مستقیم اپلیکیشن اندروید</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8 justify-content-center">
            <h1 class="siroo-header">درباره سیرو</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 justify-content-center">
            <p class="siroo-normal-text direction-rtl siroo-p">
                سیرو شبکه ای متشکل از بازاریاب، فروشگاه و کاربران عادی است. سیرو شبکه ای برای معرفی انواع کسب و کارها به بازار هدف بوده که با ایجاد دوره های جوایز مختلف، متناسب با امتیاز کاربران جوایز به آنها تعلق میگیرد.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 justify-content-center fa fa-store siroo-big-icons">
            <div class="row justify-content-center siroo-header mt-2">
                200،000
            </div>
            <div class="row justify-content-center siroo-header">
                فروشگاه
            </div>
        </div>
        <div class="col-4 justify-content-center fa fa-address-card siroo-big-icons">
            <div class="row justify-content-center siroo-header mt-2">
                5000
            </div>
            <div class="row justify-content-center siroo-header">
                بازاریاب
            </div>
        </div>
        <div class="col-4 justify-content-center fa fa-users siroo-big-icons">
            <div class="row justify-content-center siroo-header mt-2">
                1،000،000
            </div>
            <div class="row justify-content-center siroo-header">
                کاربر
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
    <div class="col-2">User</div>
    <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
    <div class="col-2">Message</div>
    <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
    <div class="col-6">
    <input type="button" id="sendButton" value="Send Message" />
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <hr />
    </div>
    </div>
    <div class="row">
    <div class="col-6">
    <ul id="messagesList"></ul>
    </div>
    </div>
    <div class="row">
    <div class="col-6" id="imageContainer">
    </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @section Scripts {
    <script type="text/javascript">
    //alert('scripts');
    </script>
    }*@