@page
@model SirooWebAPP.UI.Pages.Public.TrainingCenterModel
@{
}

<div class="SirooRightBlockContainer" style="margin-bottom:0;">
    <div class="mb-5 SirooRightBlock  col-12">
        <div class="d-flex flex-row-reverse SirooRightBlockHeader">
            <a class="profile-media col-2" href="#">
                <img src="~/uploads/assets/profile.jpg" />
            </a>
            <a href="#" class="col-6 profile-fullname">آموزش ثبت نام در سیرو</a>
            <a href="#" class="col-2 profile-date"></a>
        </div>
        <div class="d-flex flex-column justify-content-center SirooContainer">
            <div class="SirooItems">
                <div class="row justify-content-center mb-3">
                    <div class="col-12 siroo-header" style="direction:rtl;">در این آموزش، شیوه ثبت نام اولیه و دریافت نرم افزار اندروید سیرو را ملاحظه خواهید کرد.</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row justify-content-center mb-3">
                    <video preload="none" controls>
                        <source src="https://sirooapp.ir/uploads/2023/1/8a47569f-d9f5-4631-b967-e0d9445c4154-94411-siroo_1.mp4" type="video/mp4">
                    </video>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="SirooRightBlockContainer" style="margin-bottom:0;">
    <div class="mb-5 SirooRightBlock  col-12">
        <div class="d-flex flex-row-reverse SirooRightBlockHeader">
            <a class="profile-media col-2" href="#">
                <img src="~/uploads/assets/profile.jpg" />
            </a>
            <a href="#" class="col-6 profile-fullname">آموزش نصب نرم‌افزار سیرو</a>
            <a href="#" class="col-2 profile-date"></a>
        </div>
        <div class="d-flex flex-column justify-content-center SirooContainer">
            <div class="SirooItems">
                <div class="row justify-content-center mb-3">
                    <div class="col-12 siroo-header" style="direction:rtl;">در این آموزش، شیوه دریافت نرم افزار اندروید سیرو و ورود به سیرو پس از ثبت نام را ملاحظه خواهید کرد.</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row justify-content-center mb-3">
                    <video preload="none" controls>
                        <source src="https://sirooapp.ir/uploads/2023/1/8a47569f-d9f5-4631-b967-e0d9445c4154-63260-siroo_2.mp4" type="video/mp4">
                    </video>

                </div>



            </div>
        </div>
    </div>
</div>
